
.metadata/.plugins/org.eclipse.core.resources/.projects/frame/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/frame/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/frame/.syncinfo.snap

*.class
*.snap
*.log
*.zip
*.bak
/.metadata
/Servers
/RemoteSystemsTempFiles
*/target/*
*/.settings/
*.classpath
*.project
*/.externalToolBuilders/